ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
.hidden{
    backface-visibility: hidden;
    font-size: 23px;
    visibility: hidden;
    overflow: hidden;
    position: absolute;
    color:black;
    padding: 20px;
    line-height: 200%;
    transform: rotate3d(1, 0, 0, -50deg);
}
a:hover .hidden {
    opacity: 0.5;
    visibility: visible;
    position: relative;
    background:linear-gradient(greenyellow,lightgreen);

}
.pic{
    position: relative;
    overflow: hidden;
}
a:hover .pic{
    position: absolute;
    opacity: 0;
    transform-origin: 30% 0 0;
     transition: opacity 0.85s linear 0s;
}

.pa{
    display: block;

    color: red;
    height: 40px;
    width: 400px;
    background-color: blue;
}


h3{
    color: red;
}

.mydiv{
    display: block;
    background-color: #0b51c5;
    width: 1100px;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    height: 250px;
    border-radius: 15px;
    box-shadow: 5px 5px 3px 3px gray;
    border: 2px solid gray;
}
#h1{
    margin-bottom: 10px;
    margin-right: 400px;
}

html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("file:///home/reza/proj/img/election.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  } 
